CREATE TABLE IF NOT EXISTS visitors (id INTEGER PRIMARY KEY AUTOINCREMENT, deviceOS TEXT, browser TEXT, screen TEXT, referrer TEXT, utm TEXT, duration INTEGER, created_at DATETIME DEFAULT CURRENT_TIMESTAMP);
